<article class="doc">
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{{page.contents}}}
<div class="article-footer">
    <div class="article-footer-Sprevious">
        <a href="{{site.path}}{{page.previous.url}}">Previous</a>
    </div>
    <div class="article-footer-next">
        <a href="{{site.path}}{{page.next.url}}">Next</a>
    </div>
    <div class="article-email-concern">
        To report a problem with this documentation or provide feedback, please contact the
        <a href="mailto:evergreen-documentation@list.evergreen-ils.org?subject=Reporting:%20{{site.url}}{{page.url}}&body=To%20Whom%20it%20may%20concern,">
            DIG mailing list.
        </a>
    </div>
</div>

{{> pagination}}
</article>
